@charset "UTF-8";

header {
	background-color: #ffffff;
	height: 70px;
	border-bottom: 1px solid #b3b3b3;
}

header nav {background: #8989ff;float: left;margin-left: 40px;}


header .header-inner {
    height: 50px;
    background: pink;
    padding: 20px 40px 0px;
    max-width: 1080px;
    margin: 0 auto;
}

header .logo {
    width: 150px;
    height: 35px;
    background: red;
    float: left;
}

header nav>ul>li {
    float: left;
    display: inline-block;
    position: relative;
    line-height: 35px;
}

header .gnb2-box {
    position: absolute;
    top: 100%;
    width: 105px;
    background: green;
    z-index: 1;
}

header nav>ul>li+li,.util>ul>li+li {
    margin-left: 30px;
}

header .util {
    float: right;
    width: 349px;
}

header .util>ul>li {
    position: relative;
    float: left;
    display: inline-block;
    line-height: 35px;
}

header .user-ico {
    width: 10px;
    height: 10px;
    overflow: hidden;
}
header .notion{
	position: absolute;
    right: -11px;
    top: 2px;
    line-height: 13px;
}
header .ico {
    width: 16px;
    height: 16px;
    background: red;
    color: #fff;
    font-size: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 15px;
}

header #alarm-box {
    position: absolute;
    background: purple;
    width: 210px;
    right: -95px;
}

header .gnb2-box,#alarm-box {
    margin-top: 3px;
}

section {
	background-color: yellow;
	min-height: 400px;
}
footer {
	background-color: #FDCD8C;
	clear: both;
}
footer .footer-inner {
    height: 70px;
    background: pink;
    padding: 30px 40px 0px;
    max-width: 1080px;
    margin: 0 auto;
}

footer .footer-left>li {
    float: left;
    display: inline-block;
}

footer .footer-left>li .icon {
    margin: 0 10px;
}

footer .visit-count {
    float: right;
    width: 200px;
}

footer .visit-count li {
    float: left;
    display: inline-block;
    width: 50%;
    text-align: center;
}

footer .visit-count li+li {
}

footer .visit-count li p {
    font-weight: 600;
    margin-bottom: 7px;
}
